@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

*{
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:linear-gradient(to right, #e3f2f1, #bfd4d3);
}